[Unit]
Description=Daemon for working autoamo
After=asterisk.target
After=network.target

[Service]
Type=forking
PIDFile=/var/log/python-daemon/daemon-naprimer.pid

# без этого лог демона пишется только после завершения сервиса
StandardOutput=tty
StandardError=tty

Environment=daemon_path=/var/www/html/amocrm/callthelist/PyDaemon/pydaemon.py
ExecStart=/usr/bin/python3 ${daemon_path}  start
ExecStop=/usr/bin/python3 ${daemon_path}  stop
ExecReload=/usr/bin/python3 ${daemon_path}  restart

[Install]
WantedBy=multi-user.target